# Ignore the vendor directory
vendor/

# Ignore environment files
.env.*
.env

# Ignore specific HTML files
example/initiate-test-no-design.html
example/shopify-ui.html
example/direct/curl_test_remittance.php
example/test-sample-template.html